# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [2]:
expr = (((10**2) + 1/2) / 1 - 0.25) * 1

In [3]:
print(expr)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [4]:
# Forma 1
raiz1 = 100 ** 0.5

In [5]:
print("Raíz cuadrada con **:", raiz1)

Raíz cuadrada con **: 10.0

In [7]:
#Forma 2
import math
raiz2 = math.sqrt(100)

In [8]:
print("Raíz cuadrada con math.sqrt:", raiz2)

Raíz cuadrada con math.sqrt: 10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [9]:
cuadrado1 = 100 ** 2

In [10]:
print("Cuadrado con **:", cuadrado1)

Cuadrado con **: 10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [14]:
s = "hello"

In [18]:
print(s[1])

e

In [28]:
rev_s = s[::-1]
print(rev_s)

olleh

In [19]:
print(s[-1])

o

In [29]:
print(rev_s[0])

o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [26]:
lis0 = [0, 0, 0]
print(lis0)

[0, 0, 0]

In [27]:
lis1 = [0] * 3
print(lis1)

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [44]:
lista = [1,2,[3,4,'hello']]

In [48]:
lista [2][2] = 'goodbye'
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [41]:
listaSinOrdenar = [5,3,4,6,1]

In [43]:
listaOrdenada = sorted(listaSinOrdenar)
print(listaOrdenada)

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [49]:
f = {'k1':{'k2':'hello'}}

In [50]:
print(f['k1']['k2'])

hello

In [53]:
d = {'key1':'hello'}

In [54]:
print(d.get('key1'))

hello

In [59]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [60]:
print(g['k1'][0]['o1'][1][0])

hello

In [62]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [67]:
print(h['k1'][2]['k2'][1]['dificil'][2][0])

hello

#### 9.- Crea una tupla (1 pto)

In [69]:
tupla = (1, 2, "banana",4,10, True)
print(tupla)

(1, 2, 'banana', 4, 10, True)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [71]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [73]:
val_uniq = set(listaDuplicada)
print(val_uniq)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [75]:
# 2 mayor que 3
2>3

False

In [79]:
# 3 igual que 2
3 == 2

False

In [85]:
# raíz cuadrada de 4 no es igual a 2
import math 
print(math.sqrt(4)!= 2)

False

In [87]:
# 6 mayor que 5 y 7 menor que 8 
print(6 > 5 and 7 < 8)

True

In [89]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]
print(len(nombre) == len(colores) or len(nombre) < 7)

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [109]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\tEdad\tMascotas\n")
    f.write("Mar\tGarcia Ruiz\t65\tLuna\n")
    f.write("Adrian\tVega Pérez\t23\tPaws\n")
    f.write("Jose\tLuvi Díaz\t72\tPan\n")
    f.write("Miguel\tSmith Ruiz\t28\tBun\n")

with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos	Edad	Mascotas
Mar	Garcia Ruiz	65	Luna
Adrian	Vega Pérez	23	Paws
Jose	Luvi Díaz	72	Pan
Miguel	Smith Ruiz	28	Bun

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [105]:
diccionario = {
    "Rattus": ["noverigicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]}

In [106]:
lista_keys = list(diccionario.keys())
print("Listado de keys:", lista_keys)

Listado de keys: ['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [107]:
diccionario["Canis"] = ["lupus", "familiaris"]
diccionario["Felis"] = ["catus"]

print("Diccionario actualizado:", diccionario)

Diccionario actualizado: {'Rattus': ['noverigicus', 'rattus'], 'Glaucidium': ['brasilianum', 'hoskinsii', 'californicum', 'minutissimum'], 'Echinocactus': ['grusonii'], 'Opuntia': [1], 'Canis': ['lupus', 'familiaris'], 'Felis': ['catus']}

In [108]:
set_keys = set(lista_keys + ["Canis", "Felis"])
print("Set de keys:", set_keys)

Set de keys: {'Canis', 'Glaucidium', 'Felis', 'Rattus', 'Opuntia', 'Echinocactus'}